#header.matuck {
	background: url('../images/bg-header.jpg') no-repeat !important;
	background-size:cover !important;
	#logo-matuck {
		overflow: inherit !important;
	}
	#main-navigation nav > ul > li > a{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #161617;
		font-size:1.2em;
	}
	#main-navigation nav > ul > li > a:hover, #main-navigation nav .active a{
		color: #660604;
		background: transparent !important;
	}
	#main-navigation nav {
		float: right;
	}
}