#sidebar {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 20px 0;
	background-color: #FDD49E;
	padding: 15px;
	font-size: 1.1em;
}

h3.widgettitle.widget-title {
	color: #642827;
}

#sidebar ul {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	margin-left:0px;
}
	
ul a {
	color: #642827;
	
}

ul a:hover {
	text-decoration: none;
	color: #8E4A4A;
} 

.widget_categories ul li {
	 background: #FBE7CC scroll 0% 0%;
	padding: 5px;
}

.widget_categories ul li:hover {
	background: #FBD9A9 scroll 0% 0%;
	border-left: 2px solid #660604;
}
