.ibap-slider-home {
	background: url('../images/bg-slider-home.jpg') center no-repeat;
	background-size: cover;
	button.slick-prev {
		height:40px;
		width:40px;
		background: url('../images/arrow-right.png') no-repeat;
	}
	button.slick-next {
		height:40px;
		width:40px;
		background: url('../images/arrow-left.png') no-repeat;
	}
	button {
		&:before, &:after{
			display:none !important;
		}
	}
}