.woocommerce-bread {
	background:#610604;
	padding-bottom:10px;
	padding-top:10px;
	.breadcrumb {
		padding:0;
		margin:0;
		background: none !important;
	}
	* {
		font-family: 'Source Sans Pro', sans-serif;
		color:#ffefb5 !important;
	}
}